<footer class="footer">
  <small>
    <a href="#">Tweenter</a>
    Twitter app for Tweens
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="3">Social</a></li>
    </ul>
  </nav>
</footer>